<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <title>Site Header</title>
</head>
<body>
    <div class="header">
        <div class="title">
        <h1><span>Welcome to</span> Kansas City!</h1>
        </div>
        <div class="nav-links">
            <h2>
                <a href="/">Home</a> | 
                {% if 'user_id' not in session %}
                <a href="/users/login">Login</a> |
                <a href="/users/login">Create Account</a>
                {% endif %}
                {% if 'user_id' in session %}
                <a href="/users/dashboard">Dashboard</a> |
                <a href="/users/logout">Logout</a>
                {% endif %}
            </h2>
        </div>
    </div>
    <img id="skyline" src="{{ url_for('static', filename='images/kansas-city-skyline.jpg') }}">
</body>
</html>